body {
    background-color: black;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #040404;
    margin-bottom: 0px;
}

li {
    float: left;
    margin: 15px;
}

li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.pageContainer {
    overflow: hidden;
    background-color: white;
    height: 99%;
}

.userProf {
    background-color: #0D0D0D;
    text-align: center;
    height: 350px;
    color: #FFFFFF;
}

.userImage {
    border-radius: 50%;
    position: relative;
    height: 200px;
    width: 200px;
    top: 25px;
}

.nameDetails {
    position: relative;
    top: 5px;
}

.designationDetails {
    position: relative;
    top: 0px;
}

.profSepartor {
    top: 0px;
    position: relative;
}

.inputSepartor {
    top: -14px;
    position: relative;
}

.demoNav {
    font-size: 17;
    position: relative;
    left: 20%;
}

.otherNav {
    position: relative;
    font-size: 12;
    left: 60%;
}

.contactInput {
    text-align: center;
    margin-top: 1px;
    padding-top: 1px;
    background-color: #181818;
    margin-top: 0;
    color: #FFFF;
    height: 395px;
}

.formSize {
    height: 280px;
    position: relative;
}

.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}

.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #9098a9;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}

.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}

.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #FFF;
    transition: all 0.15s ease;
}

.inp textarea {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #ffffff;
    transition: all 0.15s ease;
}

.inp input:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp input:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inp input:focus+span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus+span+.border {
    transform: scaleX(1);
}

.inp textarea:hover {
    background: rgba(34, 50, 84, 0.03);
}

.inp textarea:not(:placeholder-shown)+span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp textarea:focus {
    background: none;
    outline: none;
}

.inp textarea:focus+span {
    color: #07f;
    transform: translateY(-26px) scale(0.75);
}

.inp textarea:focus+span+.border {
    transform: scaleX(1);
}

.formElement {
    position: relative;
    left: 24%;
    width: 50%;
    align-content: center;
}

.buttonsubmit {
    bottom: -10px;
    padding: 7px 6px;
    position: relative;
    color: #fff;
    background-color: #0A0A0A;
    border-radius: 5px;
    font-size: 10px;
    right: 25%;
}

.footerSecton {
    position: relative;
    background-color: #101010;
    color: white;
    right: 0px;
    height: 14%;
    top: -21px;
}

.locationAlign {
    text-align: center;
    position: relative;
    right: -2%;
    width: 44%;
}

.textArea label input {
    height: 20px;
}

.addressSize {
    font-size: 13px;
}

.aroundWeb {
    position: relative;
    text-align: center;
    bottom: 97px;
    right: 10%;
    width: 129%;
}

.iconscolor a i {
    margin: 5px;
    size: 13px;
    color: blanchedalmond;
}

.aboutNexsales {
    position: relative;
    bottom: 175px;
    right: -34%;
    text-align: center;
}

.copyRight {
    position: relative;
    text-align: center;
    color: #fff;
    background-color: #333333;
    font-size: 17px;
    height: 2%;
    bottom: 34px;
}

.footerAlign {
    position: relative;
    top: 50PX;
    right: 50%;
}